*.log
*.s
*.a
*.i
*.o
*.out
*.d
*.pbi
*.xcl
*.browse
*.dbgdt
*.linf
*.crun
*.dni
*.dnx
*.wsdt
*.ps1
*.jlink
*.rlf
*.sym
*.cmf
*.elf
*.bin
*.map
*.p1
*.pre
*.obj
*.lst
*.map
*.dcu
*.ddp
*.tds
*.fts
*.000
*.upx
*.~cpp
*.~pas
*.~c
*.~hmx
*.~ddp
*.~dfm
*.~h
*.~bpr
*.~dsk
*.~mak
*.bak
*.GID
*.cnt
GLOBAL.adu
*.$$$
desktop.ini
vc_redist.*
log.txt
.tmp*/
Reports/*
data.csv
pack.cmd
